body, html {
	height: 100%;
	margin: 0;
	padding: 0;
	background: #F4F4F4;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #3B4043;
	}

h1, h2, h3, h4, h5 {
	margin: 0;
	font-weight: 600;
	}
	
h1 {
	font-size: 32px;	
 	}
 	
 h2 {
 	font-size: 26px;
 	}
 	
 h3 {
 	font-size: 20px;
 	}

.row {
	margin: 0;
	}

a {
	color: #fff;
	}

.navbar-main {
	height: 60px;
	width: 100%;
	position: fixed;
	top: 0;
	background: #65799B;
	border-radius: 0;
	z-index: 2;
	color: #fff;
	box-shadow: 0px 2px 9px 0px rgba(181,181,181,0.50);
	}
	
.navbar-main-left {
	width: 50%;
	float: left;
	height: 60px;
	padding-top: 16px;
	padding-left: 30px;
	font-weight: 600;
	}
	
.navbar-main-right {
	width: 50%;
	float: right;
	text-align: right;
	height: 60px;
	padding-top: 16px;
	padding-right: 30px;
	}
	
.navbar-main-right a {
	float: right;
	margin-left: 10px;
	font-weight: 600;
	}
	
.navbar-main-right a:hover,  .navbar-main-left a:hover{
	text-decoration: none;
	color: #f1f1f1;
	}
	
	
.paper-container {
	padding-top: 75px;
	padding-left: 15px;
	height: 100vh;
	}
	
.edit-container {
	padding-top: 75px;
	padding-left: 15px;
	padding-right: 15px;
	height: 100vh;
    overflow: scroll;
	}
	
.paper-view {
	width: 100%;
	height: 100%;
	background: #fff;
	border-radius: 3px;
	padding: 30px 30px 60px 60px;
    overflow: scroll;
	box-shadow: 0px 2px 9px 0px rgba(181,181,181,0.50);
	}
	
.paper-header {
	height: 45px;
	width: 100%;
	}
	
.paper-header-left {
	width: 50%;
	float: left;
	font-family: Georgia;
	font-size: 12px;
	color: #9B9B9B;
	}

.paper-header-right {
	width: 50%;
	float: left;
	text-align: right;
	font-family: Georgia;
	font-size: 12px;
	color: #9B9B9B;

	}
	
.paper-title {
	width: 100%;
	margin-bottom: 30px;
	}
	
.snipppet-accepted {
	width: 100%;
	padding-bottom: 30px;
	display: inline-block;
	}
			
.snipppet-text {
	width: 90%;
	float: left;
	height: 100%;
	font-family: 'Georgia';
	}
		
.snipppet-editors {
	width: 10%;
	float: left;
	height: 100%;
	}
	
.editor-avatar {
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background: #ccc;
	margin: 0 auto;
	}
	
.time-edited {
	width: 100%;
	text-align: center;
	font-family: 'Georgia';
	font-size: 10px;
	color: #CCCCCC;
	line-height: 11px;
	margin-top: 5px;
	}
	
.edit-header {
	width: 100%;
	border-bottom: solid 1px #ccc;
	text-align: center;
	font-family: 'Georgia';
	margin-top: 15px;
	padding-bottom: 30px;
	color: #9b9b9b;
	}
	
.edit-header p {
	width: 80%;
	margin: 0 auto;
	}
	
.edit-header h2 {
	margin-bottom: 10px;
	font-family: 'OpenSans-Semibold';
	color: #3B4043;
	}
	
.edit-nav-left {
	width: 50%;
	float: left;
	font-family: Georgia-Italic;
	font-size: 16px;
	color: #9B9B9B;
	}
	
.edit-nav-right {
	width: 50%;
	float: left;
	text-align: right;	
	}
	
.edit-nav {
	height: 60px;
	width: 100%;
	padding: 15px;
	color: white;
	}
	
.snipppet-card {
	padding: 30px;
	background: #fff;
	border-radius: 3px;
	width: 100%;
	margin-bottom: 15px;
	display: inline-block;
	box-shadow: 0px 2px 9px 0px rgba(181,181,181,0.50);
	}

.snipppet-card .snipppet-text {
	width: 100%;
	}

.snipppet-card-nav {
	height: 25px;
	width: 100%;
	}
	
.snipppet-card-nav-left .editor-avatar {
	margin: 0 !important;
	}

	
.snipppet-card-nav-left {
	width: 50%;
	float: left;
	margin-top: 30px;
	}
	
.snipppet-card-nav-right {
	width: 50%;
	float: left;
	text-align: right;
	margin-top: 30px;
	}
		
	
button {
	color: #000;
	}

.col-md-12.signup {
	text-align: center;
	padding-top: 70px;
	}
	
.content-card {
	padding: 50px;
	background: #fff;
	box-shadow: 0px 2px 9px 0px rgba(181,181,181,0.50);
	cursor:pointer;
	}
	
@media (max-width: 400px){	
.content-card.signup {
	width: 100%;
	margin: 0 auto;
	display: inline-block;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	}
}

@media (min-width: 401px){	
.content-card.signup {
	width: 400px;
	margin: 0 auto;
	display: inline-block;
	border-radius: 5px;
	}
}
	
.content-card.signup h3 {
	margin-bottom: 10px;
	}
	
.content-card.signup p {
	margin-bottom: 30px;
	color: #9B9B9B;
	}
	
	
		
.sub-signup-left {
	width: 50%;
	float: left;
	height: 25px;
	margin-top: 15px;
	text-align: left;
	}

.sub-signup-right {
	width: 50%;
	float: left;
	text-align: right;
	height: 25px;
	margin-top: 15px;
	}
	
	
.sub-signup-left a{
	color: #9b9b9b;
	padding-left: 15px;
	}
	
.sub-signup-right a {
	color: #65799B;
	padding-right: 15px;
	}

.main-content.browse {
	padding-top: 130px;
	
	}
	
.content-card.story {
	width: 90%;
	padding: 40px;
	border-radius: 5px;
	margin: 0 auto;
	margin-bottom: 30px;
	text-align: center;
	}
	
.content-card.story h2 {
	margin-bottom: 10px;
	}
	
.content-card.story p {
	color: #9b9b9b;
	margin-bottom: 25px;
	}
	
.content-card.story .divider {
	margin-bottom: 25px;
	}
	
.browse-row {
	margin-bottom: 30px;
	padding-left: 75px;
	padding-right: 75px;
	}

.browse-snipppet {
	text-align: left;
	color: #3B4043 !important;
	font-family: 'Georgia' !important;
	font-size: 20px;
	}
	
.divider {
	height: 1px;
	background: #ccc;
	width: 100%;
	}
	
input[type="text"], input[type="password"]  {
    height: 50px;
    width: 290px;
    background: #fff;
    border: 1px solid #ccc;
    color: #3B4043;
    display: inline;
    margin-bottom: 10px;
    border-radius: 3px;
    padding-left: 15px;
}

input[type="text"].firstname {
	width: 145px;
	border-radius: 3px 0px 0px 3px;
	display: inline;
	}
	
input[type="text"].lastname {
	width: 145px;
	border-radius: 0px 3px 3px 0px;
	display: inline;
	border-left: 0px;
	}

.signup-form input[type="submit"] {
    height: 50px;
    width: 290px;
    background: #65799B;
    border: 0px solid #ccc;
    color: #fff;
    display: inline;
    margin-bottom: 10px;
    border-radius: 3px;
    padding-left: 15px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1;
}

input[type="submit"]:hover {
	background: #566989;
	}
	
.snipppet-text textarea {
	border: none;
	height: 150px;
	display: table-cell;
	vertical-align: top;
	width: 100%;
    resize: none;
	}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input[type="submit"], button {
    height: 30px;
    border: 0px solid #ccc;
    color: #fff;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1;
    line-height: 15px;
}

input[type="submit"].submit-snipppet {
	background: #65799B;
	}
	
input[type="submit"].submit-snipppet:hover {
	background: #566989;
	}
	
button.compose {
	background: #3B4043 url('../images/pen.svg') no-repeat;
	background-position: 10% center;
	background-size: 11px;
	padding-left: 28px;
	}
	
button.compose:hover {
	background: #313638 url('../images/pen.svg') no-repeat;
	background-position: 10% center;
	background-size: 11px;
	padding-left: 28px;
	}
	
button.vote {
	border: 1px solid #ccc;
	color: #9b9b9b;
	background: #fff url('../images/arrow-grey.svg') no-repeat;
	background-position: 10% center;
	padding-left: 25px;
	}
	
button.vote:hover {
	border: 0px solid #ccc;
	color: #fff;
	background: #ccc url('../images/arrow.svg') no-repeat;
	background-position: 10% center;
	padding-left: 25px;
	}
	
button.vote.active {
	border: 0px solid #ccc;
	color: #fff;
	background: #65799B url('../images/arrow.svg') no-repeat;
	background-position: 10% center;
	paddingw-left: 25px;
	}

.user-avatar {
	width: 24px;
	height: 24px;
	border: 2px solid #fff;
	border-radius:12px;
	float: right;
	}
	