<!DOCTYPE html>
<html lang="en">
  
<head>
	<title>Snippit</title>
	<meta charset="UTF-8">		
	<meta name="viewport" content="width=device-width, initial scale=1.0">
	<link href="../static/css/bootstrap.css" rel="stylesheet">
	<link href="../static/css/styles.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' rel='stylesheet' type='text/css'>
</head>

<body>
	<div class="navbar-main">
		<div class="navbar-main-right"><a href="">Log out</a></div>
	</div>
	<div class="row main-content browse">
		<div class="col-md-12">
			<div class="row browse-row">
				<div class="col-md-4">
					<div class="content-card story">
						<h2> This is the title of the story </h2>
						<p> Updated xx/xx/xxxx </p>
						<div class="divider"></div>
						<p class="browse-snipppet"> This is the first Snipppet in the story!</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="content-card story">
						<h2> This is the title of the story </h2>
						<p> Updated xx/xx/xxxx </p>
						<div class="divider"></div>
						<p class="browse-snipppet"> This is the first Snipppet in the story!</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="content-card story">
						<h2> This is the title of the story </h2>
						<p> Updated xx/xx/xxxx </p>
						<div class="divider"></div>
						<p class="browse-snipppet"> This is the first Snipppet in the story!</p>
					</div>
				</div>
			</div>
		</div>
	</div>


</body>



<!--git add .; git commit -am "put html in for browse.html"; git pull origin master; git push origin master-->
