<form action="./login" method="POST">
    <input type="email" name="email" placeholder="Email" />
    <input type="text" name="first_name" placeholder="First Name" />
    <input type="text" name="last_name" placeholder="Last Name" />
    <input type="password" name="password" placeholder="Password" />
    <input type="submit" value="Sign Up / In" />
</form>

<form action"./forgot" method="GET">
    <input type="email" name="email" placeholder="Email" />
    <input type="submit" value="Forgot Password" />
</form>