<!DOCTYPE html>
<html lang="en">
  
<head>
	<title>Snippit</title>
	<meta charset="UTF-8">		
	<meta name="viewport" content="width=device-width, initial scale=1.0">
	<link href="../static/css/bootstrap.css" rel="stylesheet">
	<link href="../static/css/styles.css" rel="stylesheet">
</head>

<body>	
	<div class="row main-content">
		<div class="col-md-12 signup">
			<div class="content-card signup">
				<h3>This is a catchy headline </h3>
				<div class="signup-form">
					<form>
						<input type="text" placeholder="First name"><input type="text" placeholder="Last name">
						<input type="text" placeholder="E-mail">
						<input type="text" placeholder="Password">
						<input type="submit" value="Submit">
					</form>
				</div>
				<div class="sub-signup-left">
					<a href=""> Forgot password? </a>
				</div>
				<div class="sub-signup-right">
					<a href=""> Log in </a>
				</div>
			</div>
		</div>
	</div>
</body>